@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: #dd477a;
  --shadow-main: rgba(0, 0, 0, 0.1) 0px 5px 25px 0px;
  --font-slay: "Bricolage Grotesque", sans-serif;
}

@layer utilities {
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-4px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateX(-4px);
    }
    80% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-shake {
    animation: shake 0.4s ease-in-out;
  }
}
